<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
           background-color: #d1dfff; 
           font-family: Arial, sans-serif;
           margin: 0;
           padding: 0;
           display: flex;
           flex-direction: column;
           min-height: 100vh;
         }
       
         .container {
           max-width: 600px;
           margin: 20px auto;
           padding: 20px;
           background-color: #ffffff; 
           border-radius: 5px;
           box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         }
       
         nav {
    background-color: #ffffff; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
  }
       
         footer {
           margin-top: auto;
           background-color: #ffffff; 
           padding: 10px 0;
           text-align: center;
           box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
         }
       
       
         input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea {
           width: 100%; 
           padding: 8px;
           margin: 8px 0;
           box-sizing: border-box;
           border: 1px solid #ccc;
           border-radius: 4px;
         }
       
         button[type="submit"] {
           background-color: #4CAF50; 
           color: white;
           padding: 14px 20px;
           margin: 8px 0;
           border: none;
           border-radius: 4px;
           cursor: pointer;
         }
       
         button[type="submit"]:hover {
           background-color: #45a049;
         }
       
         .forgot-password, .no-account {
           margin-top: 12px;
         }
       </style>
</head>
<body>
    <nav>
        <a href="/login">Login</a>
      <a href="/register">Register</a>
      </nav>

    <div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <a href="/forgot-password">Forgot Password?</a>
        <a href="/register">No Account?</a>
    </form>
</div>
<footer>
    Dana Uteusheva &bullet; IT-2202
  </footer>
</body>
</html>
